* {
     margin: 0;
     padding: 10px;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;

}

/* imagen del form */
.asideimg img {
     padding: 0;
     width: 750px;
     /* border: 10px solid red; */
     border-radius: 30px;
}

.img_info img {
     width: 600px;
     border-radius: 70px 0;
}


.user img {
     border-radius: 25px;
     width: 100px;
     display: none;
}

.links {

     position: sticky;
     /* margin: 10px; */
     backdrop-filter: blur(100px);
     background-color: #fff;
}

.links a {

     font-weight: bold;
     font-size: 20px;
     color: #000000;
     text-decoration: none;
}

/* bodies para */
.bodyVuelo {
     background-color: #b4dfef;

}

/* facturas  */
.container_invoise {
     background-color: #b4dfef;
     margin: 10px;
     border-radius: 20px;
}



h1 {
     font-size: 60px;
}

/* barra de navegacion */
.navbar {
     padding: 0;
     display: grid;
     grid-template-columns: 200px 1fr 200px;
     background-color: rgba(255, 60, 0, 0.482);
}

.titleVuelo h1 {
     padding: 0;
     font-size: 100px;
     /*Espacio entre las letras */
     letter-spacing: 10px;
}

.image a img {
     padding: 0;
     width: 100px;
}

/* botones */
.mainBTN {
     margin: 15px;
     color: #fff;
     border-radius: 0 10px 0 10px;
     border: none;
     background-color: hsl(99, 98%, 40%);
     font-size: 25px;
}

/* Inputs */
input[Type="Text"] {
     font-size: 20px;
     background: transparent;
     background-clip: blur(10px);
     color: #000;
     border: none;
     border-bottom: 1px solid #000000;
}

input:focus {
     text-decoration: none;
     border: none;
}

input::placeholder {
     color: #000000;
     font-size: 15px;
}

/* secciion de todo */
.container {
     margin: 0 50px 0 50px;
     border-radius: 10px;
     /* background-color: #ffffff6f; */
     box-shadow: 1px 1px 5px #000;
     display: grid;
     grid-template-columns: 1fr 1fr;
     background-image: url("../Image/main.jpg");
     background-size: cover;
     /* place-items: center;  */

}

/* titulo de aggenda una cita */
.agenda {
     font-size: 25px;
     backdrop-filter: blur(100px);

}

.datosPer {
     display: flex;
     flex-direction: column;


}

.form_main {
     margin: 5px;
     padding: 35px;
     background-color: #fff;
     border-radius: 10px;
}

/* titulos de nosotsos, contact us y demas  */
.title {
     padding: 0px;
     /* border: #000 1px solid; */
     border-radius: 20px 0;
     /* font-size: 25px; */
     background-image: url("../Image/titles.jpg");
     background-repeat: repeat;
     background-position: center;
}

.title h1 {
     backdrop-filter: blur(5px);
}

/* imagenes de la info de contact us, nosoros demas */
.info {
     display: grid;
     grid-template-columns: auto 1fr;
}








/* EERORES */
.error {
     display: none;
     position: relative;
     background-color: #a920207f;
     width: 500px;

}

table {
     text-align: center;
     background-color: #fff;
     margin: 10px;
}

th {
     font-weight: bold;
     font-size: 20px;
}

td {
     padding: 5px;
     /* font-size: 25px; */
     background-color: #00b7fa;
     /* background-color: #00b7fa; */

}



/* menus*/
.menuFact {
     display: grid;
     grid-template-columns: auto auto;
}

select {
     border-radius: 15px 0;
     border: none;
     box-shadow: 1px 1px 15px #00b7fa;
     font-size: 15px;

}

input[type="date"] {
     box-shadow: 1px 1px 15px #00b7fa;
     border-radius: 15px 0;
     border: none;
     font-size: 15px;
}

.parrafo {
     font-size: 25px;
     justify-content: center;
}
