* {
     margin: 0;
     padding: 10px;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;

}


img {
     width: 100px;
}


.links {
     margin: 10 px;
     backdrop-filter: blur(10px);

}

.links a {

     font-weight: bold;
     font-size: 20px;
     /* color: hsl(99, 98%, 40%); */
     /* color: #000000; */
     text-decoration: none;
}

/* bodies para */
.bodyVuelo {
     /* background-image: url("../Images/aerolinea/globe.jpg"); */
     /* background-position: center; */
     background-size: cover;
     background-color: #ffffff;

}



h1 {
     font-size: 70px;
}

/* barra de navegacion */
.navbar {
     padding: 0;
     display: grid;
     grid-template-columns: 250px auto;
     background-color: #0032a0;
     color: #ffffff;
}

/* botones */
.mainBTN {
     color: #fff;
     border-radius: 0 10px 0 10px;
     border: none;
     background-color: hsl(99, 98%, 40%);
     font-size: 20px;
}

/* Inputs */
input[Type="Text"] {
     text-align: center;
     color: #000;
     border: none;
     border-bottom: 1px solid black;
}

input:focus {
     border: none;
     text-align: center;
}

/* secciion de todo */
.container {
     /* width: auto; */
     /* align-items: center; */
     /* padding: 50px 0 0 50px; */
     margin: 0 50px 0 50px;
     border-radius: 10px;
     background-color: #ffff;
     box-shadow: 1px 1px 5px #000;
}

.formFlight {

     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     border: #000 1px solid;
}






/* EERORES */
.error {
     display: none;
     position: relative;
     background-color: #a920207f;
     width: 500px;

}